# Antora
build
node_modules

certs

# IntelliJ
.idea

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

secret*.txt
secret*.json

.sonarlint/
